<h1>Create a Post</h1>
<form action="<%= posts_url %>" method="POST">
  <%= auth_token %>
  <label>Title
    <input type="text" name="post[title]">
  </label>
  <label>URL
    <input type="text" name="post[url]">
  </label>
  <label>Content
    <input type="text" name="post[content]">
  </label>
  <br>
  <label>Available Subs:
    <% @subs.each do |sub| %>
      <div>
        <input type="checkbox" name="<%= sub.id %>" id="<%= sub.title %>">
        <label for="<%= sub.title %>"><%= sub.title %></label>
      </div>
    <% end %>
  </label>
  <input type="submit" value = "Create Post">
</form>